@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    /* Name of the font */
    font-family: 'Playwrite-HR-Lijeva';
    /* Path to the font file */
    src: url('./fonts/PlaywriteHRLijeva-VariableFont_wght.ttf') format('truetype');
    /* Optional: Specify font weight */
    font-weight: normal;
    /* Optional: Specify font style */
    font-style: normal;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    :root {
        --playwrite-hr-lijeva: 'Playwrite-HR-Lijeva', cursive;
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0 11.8;
        --card-foreground: 12 100 97.1;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 357 86% 64%;
        --chart-2: 357 86% 64%;
        --chart-3: 357 86% 64%;
        --chart-4: 357 86% 64%;
        --chart-5: 357 86% 64%;
        --radius: 0.5rem;
        --sidebar-background: 0 0 11.8;
        --sidebar-foreground: 12 100 97.1;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    input[type="number"] {
        -webkit-appearance: textfield;
        /* Chrome, Safari, Edge */
        -moz-appearance: textfield;
        /* Firefox */
        appearance: textfield;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        /* Chrome, Safari, Edge */
        margin: 0;
    }
}